{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 14px;
    }

    .header {
        margin: 20px 10px;
    }

    h2, h3 {
      font-size: 20px;
    }

    a {
      color: #1E90FF;
    }

    .content {
        margin: 20px 10px;
    }
    footer {
        margin: 20px 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <!-- Header -->
    <div class="header">
      <img alt="Abocados Logo" title="Abocados Logo" width="100" height="100" border="0" src="https://abocados-s3-bucket.s3.eu-west-3.amazonaws.com/logo.png">
      <h1>Abocados</h1>
    </div>

    <!-- Content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer>
        <p>-{% trans 'The Abocados team' %}</p>
    </footer>
  </div>
</body>
</html>
